<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/portfolio.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="nav-wrapper">
            <div class="left-side">
                <div class="nav-link-wrapper active-nav-link">
                    <a href="/">Home</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="/portfolio">Portfolio</a>
                </div>
                <div class="nav-link-wrapper">
                    <a href="/about">About</a>
                </div>
            </div>
            <div class="right-side">
                <div class="brand">
                    <div>KATJA ŠKAFAR</div>
                </div>
            </div>
        </div>

        <div class="container-free-text">

            <h1>Hello dear visitor. Welcome to my personal web page.</h1>

            <h3>If you want to know few things about me go to ABOUT page.</h3>
            <h3>If you want to see few learning project I did click on MY PORTFOLIO and look around.</h3>
        </div>
    </div>
</body>
</html>